.watchListPanel {
  overflow-y: scroll;
  list-style: none;
  position: absolute;
  overflow: auto;
  min-height: 3vh;
  max-width: 290px;
  max-height: 8rem;
  z-index: 9;
  width: 10.2rem;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  margin-bottom: -8.5rem;
  margin-right: -0.7rem;
}

.watchListPanel.contentPage {
  margin-bottom: 2.5rem;
}

.watchListPanel.contentPage.hide {
  display: none;
}

.hamButton {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.watchListPanel.hide {
  display: none;
}

.mouseOnList {
  grid-template-columns: 1fr 0.25fr;
  display: grid;
  text-align: start;
  margin-left: 0.5rem;
}

.updateWatchListButton {
  border-radius: 10px;
  border-color: white;
  border-width: 1px;
  border: none;
  color: rgb(255, 192, 203);
  background-color: rgb(37, 37, 37);
}

.updateWatchListButton:hover {
  size: 1rem;
  background-color: rgb(255, 192, 203);
  color: rgb(37, 37, 37);
  cursor: pointer;
}

.addToWatchListButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bookMarkIcon {
  color: rgb(255, 192, 203);
}

.bookMarkIcon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.plusSign {
  color: rgb(37, 37, 37);
  display: inline-flex;
  text-align: center;
  justify-content: center;
}

.plusIcon {
  margin-top: -2.5rem;
  margin-right: -0.3rem;
}

.testing {
  margin: 0.3rem;
}
