.btnGoogle {
  margin: 0.5px 15px 5px 5px;
  width: 165px;
  height: 35px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  text-align: center;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.75;
  cursor: pointer;
}

@media only screen and (max-width: 678px) {
  .btnGoogle {
    width: 40px;
    margin-left: 40%;
    text-align: right;
  }
}

.btnGoogleLogout {
  width: 165px;
  height: 35px;
  border-radius: 4px;
  background: none;
  color: black;
  border: 0px transparent;
  text-align: left;
}

.googleText{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight:bold;
    width: 83%;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 4px;
    
}

.googleText:hover{
  background-color: rgb(172, 47, 47); 
}
