.btnGoogle {
  margin: 0.5px 15px 5px 5px;
  width: 165px;
  height: 35px;
  border-radius: 4px;
  background: #db3236;
  color: white;
  border: 0px transparent;
  text-align: center;
}

.btnGoogle:hover {
  background: #db3236;
  opacity: 0.75;
  cursor: pointer;
}

@media only screen and (max-width: 678px) {
  .btnGoogle {
    width: 40px;
    margin-left: 40%;
    text-align: right;
  }
}

.btnGoogleLogout {
  width: 165px;
<<<<<<< HEAD
  height: 20px;
=======
  height: 35px;
>>>>>>> origin/changing-endpoints
  border-radius: 4px;
  background: none;
  color: black;
  border: 0px transparent;
  text-align: left;
}

<<<<<<< HEAD
.googleText {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(255, 192, 203);
  text-shadow: -2px 1px 0 #000, 1px 1px 0 #000, 1px -2px 0 #000,
    -2px -2px 0 #000;
  font-size: 18px;
  font-weight: bold;
  width: 83%;
  height: 40px;
  padding-left: 4px;
}

.googleText:hover {
  background-color: rgb(172, 47, 47);
=======
.googleText{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(255, 192, 203);
    text-shadow: -2px 1px 0 #000, 1px 1px 0 #000, 1px -2px 0 #000, -2px -2px 0 #000;
    font-size: 18px;
    font-weight:bold;
    width: 83%;
    height: 40px;
    padding-left: 4px;
    
}

.googleText:hover{
  background-color: rgb(172, 47, 47); 
>>>>>>> origin/changing-endpoints
  border: 1px solid rgb(0, 0, 0);
}
