.header {
  z-index: 99;
  position: relative;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  display: grid;
  width: 100%;
  grid-template-columns: 0.5fr 2fr 0.5fr;
  background-image: url(./img/header.jpg);
  height: 52px;
  z-index: 99;
}

.header-input {
  width: 67%;
}

.header-div {
  height: 41px;
  text-align: center;
  padding-top: 0.4rem;
}

@media only screen and (max-width: 991px) {
  .header-input {
    width: 50%;
    margin-right: 20%;
  }

  .header-img {
    margin-left: 10%;
  }
}

@media only screen and (max-width: 678px) {
  .header-input {
    width: 60%;
  }
}
