.profileContainer {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  margin-top: 1%;
}

.userInformation {
  padding-left: 0rem;
  border-radius: 5px;
  background-color: rgb(37, 37, 37);
  color: rgb(255, 192, 203);
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
}

.profileImage {
  margin: 0rem 2rem 2rem 0rem;
  height: 15rem;
  min-height: 20px;
  min-width: 10px;
  border-radius: 10%;
  border: 1px solid rgb(255, 255, 255);
  justify-content: left;
  display: left;
}

.userUtilities {
  padding-top: 1rem;
  padding-left: 2rem;
  font-size: xx-large;
}

.userInput {
  size: 20rem;
  font-size: 1.5rem;
  margin-top: 4rem;
  margin-left: -8rem;
}
.forms {
  margin-bottom: 2rem;
}

.inputHeader {
  margin-left: 2rem;
}

.submitButton {
  height: 1.98rem;
}

.listOfWatchLists {
  margin-top: 1rem;
  margin-bottom: 1rem;
  align-content: center;
  justify-self: center;
}
