.searchList {
  background-color: white;
  position: relative;
  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 25.23rem;
  padding-top: 2px;
  margin-top: -3px;
  margin-left: 8.89rem;
}

@media only screen and (max-width: 1200px) {
  .searchList {
    width: 48%;
    margin-left: 16.5%;
  }
}

@media only screen and (max-width: 991px) {
  .searchList {
    width: 47%;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 751px) {
  .searchList {
    width: 47.3%;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 699px) {
  .searchList {
    width: 50%;
    margin-left: 15%;
  }
}

@media only screen and (max-width: 678px) {
  .searchList {
    width: 55%;
    margin-left: 10%;
  }
}

.listItem {
  margin-top: 4px;
  padding-left: 14px;
}

.linkItem {
  color: black;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.384);
  margin-bottom: 0px;
  padding-left: 0px;
}

.linkRow {
  margin: 0px;
}
