.searchList {
  background-color: white;
  position: absolute;

  text-align: left;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 25.56rem;

  padding-top: 2px;
  margin-top: -2px;
  margin-left: 8.822rem;
}

@media screen and (max-width: 1200px) {
  .searchList {
    margin-left: 4.2rem;
  }
}

.listItem {
  margin-top: 4px;
  padding-left: 14px;
}

.linkItem {
  color: black;
}

.divider {
  border-bottom: 1px solid rgba(0, 0, 0, 0.384);
  margin-bottom: 0px;
  padding-left: 0px;
}

.linkRow {
  margin: 0px;
}
