#root {
  background-color: rgba(39, 39, 39, 0.637);
  min-height:100%;
  padding-bottom: 1rem;
}

.readMoreBtn {
  color: rgb(255, 255, 255);
  cursor: pointer;
}

.readMore {
}

.ratingPedb {
  cursor: pointer;
}
