.card{
    border-radius: 3px;
    border: 1.5px solid;
    background-color: rgb(170, 156, 156);
    box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1), 0 4px 6px -4px rgb(0, 0, 0, 0.1);
    width: 250px;
    height: auto;
    max-height: 350px;
    margin-inline: 1rem;
}

.image{
    width: 150px;
    height: 150px;
    padding-bottom: 1rem;
    margin-top: auto;
    object-fit: cover;
    object-position: top;
}

.imageWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title{
    padding-left: 1rem;
}

.plot{
    padding-left: 1rem;
    padding-bottom: 0.5rem;
}