.contentContainer {
  color: rgb(255, 192, 203);
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(37, 37, 37);
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1rem;
}

.topTitle {
  margin-left: 0.5rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr 0fr 0.1fr;
  border-radius: 3px;
  border: 1.5px solid;

  background-color: rgb(37, 37, 37);
  box-shadow: 0 10px 15px -3px rgb(0, 0, 0, 0.1),
    0 4px 6px -4px rgb(0, 0, 0, 0.1);
  height: auto;
  max-height: 350px;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  object-position: top;
}

.imageWrapper {
  margin: 0.5rem;
  display: flex;
  justify-content: left;
  align-items: center;
}

.title {
  margin: 1rem;
  color: rgb(255, 192, 203);
}

.ranking {
  margin: 0.5rem;
  text-align: end;
  color: rgb(255, 192, 203);
}

.linkGrid {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
}
